@font-face {
    font-family: 'Bold';
    src: url(Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: 'Light';
    src: url(Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: 'Regular';
    src: url(Montserrat-Regular.ttf);
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr 1fr;
    height: 100vh;
}
header {
    font-family: 'Regular';
    font-size: 50px;
    grid-column: 1/4;
    justify-self: center;
    margin-bottom: 50px;  
}
.container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.section-1 {
    grid-row: 1;
    grid-column: 1/3;
    width: min-content;
}
.section-2 {
    grid-row: 2;
    grid-column: 1/2;
}
.section-3 {
    align-self: center;
    grid-row: 2;
    grid-column: 2/3;
}

aside {
    width: 65%;
    justify-self: center;
    grid-column: 3 ;
}

footer {
    grid-row: 3;
    grid-column: 1/4;
    justify-self: center;
    margin: 60px;
    padding-bottom: 20px;   
}



footer a {
    margin: 120px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Regular';
}

a:hover {
    color: green;
}

.text-1 {
    font-family: 'Bold';
    font-size: 30px;   
}

.text-2 {
    font-family: 'Light';
    font-size: 20px;
}

.text-3 {
    font-family: 'Regular';
    font-size: 25px;
    text-align: center;
}
.text-4 {
    font-family: 'Bold';
    font-size: 35px;
    text-align: center;
}
.text-5 {
    font-family: 'Light';
    font-size: 25px;
    text-align:center;
    text-wrap: wrap;
}